<div class="bg-light px-4 py-3 text-uppercase font-weight-bold">Order Summary</div>
<div class="p-4">
    <p class="font-italic mb-4">
        Shipping cost will be added depending on choices made during checkout
    </p>
    <ul class="list-unstyled mb-4" *ngIf="(basketTotal$|async) as basketTotal">
        <li class="d-flex py-3 justify-content-between border-bottom">
            <strong class="text-muted">Order subtotal</strong>
            <strong>{{basketTotal.subtotal|currency}}</strong>
        </li>
        <li class="d-flex py-3 justify-content-between border-bottom">
            <strong class="text-muted">Shipping and handling</strong>
            <strong>{{basketTotal.shipping|currency}}</strong>
        </li>
        <li class="d-flex py-3 justify-content-between border-bottom">
            <strong class="text-muted">Total</strong>
            <strong>{{basketTotal.total|currency}}</strong>
        </li>
    </ul>
</div>