<div style="margin-top: 40px;">
    <carousel>
        <slide>
            <img src="assets/images/hero1.png" alt="first slide" style="display: block; width: 100%;">
        </slide>
        <slide>
            <img src="assets/images/hero2.png" alt="second slide" style="display: block; width: 100%;">
        </slide>
        <slide>
            <img src="assets/images/hero3.png" alt="third slide" style="display: block; width: 100%;">
        </slide>
        <slide>
            <img src="assets/images/hero4.jpg" alt="forth slide" style="display: block; width: 100%;">
        </slide>
    </carousel>
    <section class="featured">
        <div class="d-flex justify-content-center pt-4">
            <h1>Welcome to the shop!</h1>
        </div>
    </section>
</div>